<form [formGroup]="formulario" (ngSubmit)="onSubmit()"> 
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" formControlName="nome" placeholder="Nome" [ngClass]="aplicaCssErro('nome')" >
    <div class="invalid-feedback">
      <message-error-forms errmsg = "Nome é obrigatório"></message-error-forms>
     </div>
  </div>
  <div class="form-group" >
    <label for="email">Endereço de email</label>
    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Seu email" autocomplete="false" [ngClass]="aplicaCssErro('email')" >
    <div class="invalid-feedback">
      <message-error-forms errmsg = "E-mail é obrigatório"></message-error-forms>
     </div>
  </div>
  <div formGroupName="endereco" >
    <div class="form-row">
      <div class="form-group col-3" >
        <label for="cep">CEP</label>
        <input type="text" class="form-control" formControlName="cep" autocomplete="false" [ngClass]="aplicaCssErro('endereco.cep')" (blur)="BuscaCEP()" >
        <div class="invalid-feedback">
          <message-error-forms errmsg = "Digite seu CEP"></message-error-forms>
        </div>
      </div>
      <div class="form-group col-3" >
        <label for="numero">Número</label>
        <input type="text" class="form-control" formControlName="numero" autocomplete="false" [ngClass]="aplicaCssErro('endereco.numero')" >
        <div class="invalid-feedback">
          <message-error-forms errmsg = "Digite o número"></message-error-forms>
        </div>
      </div>
      <div class="form-group col-6" >
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento" >
      </div>
    </div>
    <div class="form-group" >
      <label for="rua">Rua</label>
      <input  type="text" class="form-control" formControlName="rua">
    </div>
    <div class="form-row">
      <div class="form-group col-4" >
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro" >
      </div>
      <div class="form-group col-4" >
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" formControlName="cidade" >
      </div>
      <div class="form-group col-4" >
        <label for="estado">Estado</label>
        <select class="form-control" formControlName="estado">
          <option *ngFor="let estado of estados | async" [value]='estado.sigla' >{{estado.nome}} </option>
        </select>
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="form-group col-4" >
      <label for="tecnologias">Tecnologias</label>
      <select multiple class="form-control" formControlName="tecnologias">
        <option *ngFor="let tecnologias of tecnologias" [value]='tecnologias.nome' >{{tecnologias.descricao}} </option>
      </select>
    </div>
    <div class="form-group col-4" >
      <label for="newsletters">NewsLetters</label>
      <div id="newsletters">
        <div class="form-check form-check-inline" *ngFor="let newsletter of newsletters" >
          <input class="form-check-input" type="radio" name="newsletters" id="rdonewsletters" [value]="newsletter.nome" formControlName="newsletters">
          <label class="form-check-label" for="newsletters">{{newsletter.descricao}}</label>
        </div>
      </div>
      <label for="terms">Termos de uso</label>
      <div id="terms">
        <div class="form-check form-check-inline" [ngClass]="aplicaCssErro('termsuse')">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" formControlName="termsuse"  >
          <label class="form-check-label" for="inlineCheckbox3">Lido</label>
        </div>
        <div class="invalid-feedback">
          <message-error-forms errmsg = "Leitura do termo obrigatório"></message-error-forms>
         </div>
      </div>
    </div>
    <div class="form-group col-4" >
      <label for="fw">FrameWorks</label>
      <div id="fw">
        <div formArrayName="frameworks"> 
          <div class="form-check form-check-inline" *ngFor="let item of frameworks.controls; let i= index" >
            <!-- <label>{{i}}</label> -->
            
            <input class="form-check-input" type="checkbox" id="inlineCheckbox" [formControlName]="i"  >
            <label class="form-check-label" for="inlineCheckbox">{{frameworksarr[i]}}</label>
            
          </div> 
        </div>
        
      </div>
    </div>
    
  </div>
  
  <div>
    <button style="margin-left: 10px;" type="submit" class="btn btn-primary">Enviar</button>
    <button style="margin-left: 10px;" type="button" class="btn btn-warning" (click)="setTecnologias()" >Tecnologia</button>
    <button style="margin-left: 10px;" type="button" class="btn btn-warning" (click)="ShowConsole()" >TESTE</button>
  </div>
  
  <br>
  <app-debug-form [formulario]="formulario"></app-debug-form>
</form> 